{% extends 'base.html' %}

{% block title %}
    Car Details - {{car.name}}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="card m-2 p-3">
        <div class="d-flex flex-column flex-md-row gap-2">
            <div class="col-12 col-md-6">
                {% if car.image %}
                    <div class="d-flex align-items-center justify-content-center rounded-top">
                        <img src="{{car.image.url}}"  alt="{{car.name}}" style="width: 100%; ">
                    </div>
                {% else %}
                    <div class="d-flex align-items-center justify-content-center rounded-top" style="height: 300px; background-color: lightgray;">
                        <p>No Image Found</p>
                    </div>
                {% endif %}
            </div>
            
            <div class="col-12 col-md-6">
                <div class="card-body">
                    <h1 class="card-title">{{car.name}}</h1>
                    <p class="card-text">{{car.description}}</p>
                    <p><b>Brand: </b>{{car.brand.name}}</p>
                    <p><b>Available : </b> {{car.quantity}}</p>
                    <p><b>Price: </b> $ {{car.price}}</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'place_order' car.id %}" class="text-decoration-none text-black">
                            <button class="btn btn-warning px-3" {% if car.quantity == 0 %}disabled{% endif %}>Buy Now</button>
                        </a>   
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card m-2 p-3">
        <h5>Total Comments: {{comments | length}}</h5>
        {% for comment in comments %}
            <div class="card-body border m-2">
                <p><b>{{comment.name}}</b> {{comment.created_at}}</p>
                <p>{{comment.text}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="card m-2 p-3">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{comment_form|crispy}}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}